doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css")
  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          a.navbar-brand
            block header-title
              span CURSOR Education

    .container
      block content
        h1 ATTENTION!! This is default content!

    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
